<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>http://hot.haima.me/infinite/201611/1625/com.imangi.templerun2_1.18.2_20161116171322_1_t8k3ue.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>needs-shine</key>
                   <true/>
                   <key>url</key>
                   <string>http://is3.mzstatic.com/image/thumb/Purple71/v4/f0/44/ab/f044abeb-6bfd-0540-2685-ed1131d8ab54/source/114x114bb.jpg</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>enjoy.iresignos.templerun2</string>
               <key>bundle-version</key>
               <string>1.0</string>
               <key>kind</key>
               <string>software</string>
               <key>title</key>
               <string>Temple Run 2 Hacked by iResignOS</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
